$text-color: white;
$font_url: url('@fonts/roboto-regular.ttf');

@font-face {
  font-family: 'Roboto';
  src: $font_url format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#container {
  display: flex;
  height: 100%;
  align-items: stretch;

  textarea {
    width: 50%;
  }

  #preview {
    width: 50%;

    img {
      display: block;
      max-width: 90%;
      margin: 0 auto;
    }
  }
}
